header {
	width: 100%;
	padding-inline: var(--calc-80);
}
header.topbar {
	height: var(--calc-60);
	color: var(--clr-white);
	background-color: var(--bg-clr-blue-1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header i {
	font-size: 18px;
}
header.topbar .social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--calc-24);
}
header.topbar .social-icons i:hover {
	color: var(--txt-clr-red-1);
}
header.topbar i.fa-phone-volume {
	color: var(--txt-clr-red-1);
}
header.topbar .contact-info {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--calc-24);
	font-size: calc(14rem / 16);
	font-weight: var(--fw-medium);
}
header.navbar {
	height: calc(100rem / 16);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #d9d9d9;
}
header.navbar .logo-wrapper img {
	width: calc(310rem / 16);
}
header.navbar nav ul {
	font-weight: var(--fw-bold);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--calc-24);
}
header.navbar nav ul li .active {
	color: var(--txt-clr-red-1);
}
header.navbar nav ul li:hover {
	color: var(--txt-clr-red-1);
}
header.navbar .search-n-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--calc-24);
}
header.navbar .search-n-list input[type="text"] {
	width: calc(280rem / 16);
	height: var(--calc-36);
	padding: 0 var(--calc-16);
	border: 2px solid #d9d9d9;
	border-radius: var(--calc-24);

	font-size: calc(14rem / 16);
}
header.navbar .search-n-list .quoted-products-icon {
	position: relative;
	display: inline-block;
}
header.navbar .search-n-list .quoted-products-icon i {
	font-size: 24px;
}
header.navbar .search-n-list .quoted-products-icon .counter {
	position: absolute;
	top: -8px;
	right: -12px;
	width: var(--calc-20);
	height: var(--calc-20);
	border-radius: 50%;
	background-color: var(--bg-clr-red-5);
	color: var(--clr-white);
	font-size: calc(12rem / 16);
	font-weight: var(--fw-bold);
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	flex: 1 0 auto;
}

main[class] {
	padding: var(--calc-40) calc(120rem / 16);
}

main[class] h2 {
	font-weight: var(--fw-bold);
}

section:not(.hero) {
	padding: 0 calc(120rem / 16);
}

section.breadcrumbs {
	background: linear-gradient(to right, var(--bg-clr-blue-1), var(--bg-clr-red-3));
	color: var(--clr-white);
	height: var(--calc-60);
	width: 100%;
	font-size: calc(14rem / 16);
	text-transform: uppercase;
	font-weight: var(--fw-medium);
	display: flex;
	align-items: center;
	gap: 16px;
}
section.breadcrumbs a,
section.breadcrumbs i {
	color: var(--clr-white-3);
	opacity: 70%;
}
section.breadcrumbs a:hover {
	opacity: 100%;
	text-decoration: underline;
}
section.breadcrumbs i {
	font-size: calc(10rem / 16);
}

footer {
	background-color: var(--bg-clr-blue-2);
	color: var(--clr-white);
	padding: var(--calc-80);
}
footer .footer-container {
	display: flex;
	align-items: start;
	justify-content: space-between;
}
footer .footer-container .logo-section img {
	max-width: 260px;
	height: auto;
}
footer .footer-container .footer-column h4 {
	font-weight: var(--fw-bold);
	margin-bottom: 20px;
}
footer .footer-container .footer-column ul li,
footer .footer-container .footer-column .contact-us-info {
	opacity: 70%;
}
footer .footer-container .footer-column ul li {
	margin-bottom: 8px;
}
footer .footer-container .footer-column ul li:hover {
	color: var(--clr-white);
	opacity: 100%;
	text-decoration: underline;
}
footer .footer-container .footer-column .contact-us-info {
	display: flex;
	justify-content: center;
	gap: var(--calc-40);
}

footer .footer-container .footer-column .contact-us-info a:hover {
	text-decoration: underline;
}

hr {
	margin-block: 40px;
	border: 0.5px solid var(--clr-white-3);
	opacity: 20%;
}

footer .footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
	font-size: 14px;
}
footer .footer-bottom .social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
footer .footer-bottom .social-icons span {
	margin-right: 8px;
}
footer .footer-bottom .social-icons a {
	display: flex;
	align-items: center;
	justify-content: center;
}
footer .footer-bottom .social-icons i {
	font-size: 24px;
	padding: 8px;
	color: var(--bg-clr-blue-1);
	background-color: var(--clr-white-3);
	border-radius: 50%;
}

footer .footer-bottom .social-icons i:hover {
	color: var(--txt-clr-red-1);
}
