main.products-page {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: var(--calc-40);
}

main.products-page aside.left-side {
	width: 360px;
	background-color: var(--clr-white);
	border: 1px solid #d9d9d9;
	border-radius: var(--calc-8);
	padding: var(--calc-24);
	position: sticky;
	top: var(--calc-40);
	height: fit-content;
}

main.products-page aside.left-side form {
	display: flex;
	flex-direction: column;
	gap: var(--calc-24);
}

main.products-page aside.left-side .search-wrapper {
	display: flex;
	align-items: center;
	gap: var(--calc-8);
	background-color: #f6f7fa;
	border: 1px solid #d9d9d9;
	border-radius: var(--calc-8);
	padding: 0 var(--calc-12);
}

main.products-page aside.left-side .search-wrapper input[type="search"] {
	border: none;
	outline: none;
	background: transparent;
	padding-block: var(--calc-8);
	width: 100%;
	font-size: calc(14rem / 16);
	color: #333;
}

main.products-page aside.left-side .form-wrapper p {
	font-weight: var(--fw-bold);
	text-transform: uppercase;
	font-size: var(--calc-20);
	border-left: 4px solid var(--txt-clr-red-1);
	padding-left: var(--calc-8);
	margin-bottom: var(--calc-8);
	color: var(--txt-clr-blue-2);
}

main.products-page aside.left-side .checkbox-group {
	display: flex;
	align-items: center;
	gap: var(--calc-8);
	margin-bottom: var(--calc-4);
}
main.products-page aside.left-side .checkbox-group input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: white;
	margin: 0;
	font: inherit;
	background-color: var(--clr-white);
	height: 0.5rem;
	width: 0.5rem;
	border: 1px solid var(--clr-white-3);
	border-radius: 0.125rem;
	transform: translateY(-0.075em);
	padding: 0.5rem;

	display: grid;
	place-content: center;
}

main.products-page aside.left-side .checkbox-group input[type="checkbox"]::before {
	content: "";
	width: 1rem;
	height: 1rem;
	border-radius: 0.125rem;
	transform: scale(0);
	transition: 60ms transform ease-in-out;
	/* box-shadow: inset 1em 1em var(--form-control-color); */
	/* Windows High Contrast Mode */
	background-color: CanvasText;
}

main.products-page aside.left-side .checkbox-group input[type="checkbox"]:checked::before {
	background-color: var(--txt-clr-red-1);
	transform: scale(1);
}

main.products-page section.product-section {
	padding: 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: var(--calc-24);
}

main.products-page .sort-n-filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main.products-page .sort-n-filter select {
	padding: var(--calc-8) var(--calc-16);
	border: 1px solid #d9d9d9;
	border-radius: var(--calc-8);
	background: var(--clr-white);
	font-size: calc(14rem / 16);
}

/* Product Grid */
main.products-page .products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: var(--calc-16);
}

main.products-page .pagination > ul {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--calc-16);
}

main.products-page .pagination .pagebtn {
	display: inline-block;
	padding: var(--calc-8) var(--calc-16);
	border-radius: var(--calc-8);
	background: var(--clr-white-3);
	font-size: calc(14rem / 16);
	cursor: pointer;
	color: #333;
}

main.products-page .pagination .pagebtn:disabled,
main.products-page .pagination .pagebtn-disabled {
	cursor: not-allowed;
	opacity: 0.6;
	background: var(--clr-white-3) !important;
	color: #999 !important;
}

main.products-page .pagination .pagebtn:not(:disabled):hover,
main.products-page .pagination .pagebtn:not(.pagebtn-disabled):hover {
	color: var(--clr-white);
	background: var(--txt-clr-red-1);
	opacity: 0.8;
}

main.products-page .pagination .pagebtn-active {
	color: var(--clr-white);
	background: var(--txt-clr-red-1);
}
